.congrats{
    -fx-background-color: #000000;
}
.congrats > *.button-bar > *.container{
    -fx-background-color: #4d2817;
    -fx-default-button: #000;
    -fx-accent: #4d2817;
    -fx-color: #000;
    -fx-focus-color: #4d2817;
}
.congrats > *.label.content{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-padding: 25px;
    -fx-default-button: #000;
    -fx-accent: #4d2817;
}

